<ion-view view-title="Help / About">
  <ion-content class="scroll-bg">

    <div class="card">
      <div class="item item-text-wrap item-about">

        <center><img src="img/launchalarm.png" class="ionic-logo"></center>
        <br />
        <p><b>Launch Alarm</b> in an application to find information on all upcoming rocket launches from a wide range of rocket companies.</p>
        <br />
        <p>Have Questions? Find a bug?</p>
        <a class="button button-block button-positive" ng-click="linkExternal('https://bitbucket.org/medoix/launchalarmapp/issues')">Create a ticket</a>
        <a class="button button-block button-positive" ng-click="linkExternal('https://launchalarm.com/privacy')">Privacy Policy</a>

        <br />
        <div class="row">
          <div class="col">
            <center><a ng-click="linkExternal('http://facebook.com/launchalarm')"><img src="img/Facebook.png"><p>Connect on Facebook</p></a></center>
          </div>
          <div class="col">
            <center><a ng-click="linkExternal('https://twitter.com/launchalarm')"><img src="img/Twitter.png"><p>Connect on Twitter</p></a></center>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
